body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    color: rgb(148, 17, 39);
    margin-top: 3%;
    margin-bottom: 10%;
    /* border-bottom: 1px solid ; */
}

.quotes-cont {
    margin-bottom: 10%;
}

.quotes-text {
    color: rgb(202, 53, 78);
    font-size: 30px;
    /* margin-bottom: 10%; */
    font-family: 'Indie Flower', cursive;
}

.button {
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(238, 43, 76);
    color: white;
    /* border: 1px solid rgb(245, 47, 80); */
    cursor: pointer;
}

